{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card my-5">
            <div class="card-header text-center">
                <h3>Student Login</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary btn-block mt-3">Get OTP</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}